:root {
  --light-gray: rgb(242, 242, 242);
  --gray: rgb(178, 178, 178);
}

html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

* {
  user-select: none;
}

button {
  height: 40px;
}

.top {
  background-color: var(--light-gray);
  border-bottom: solid var(--gray) 2px;
  width: 100%;
  height: 52px;
}

.properties {
  background-color: var(--light-gray);
  border: solid var(--gray) 2px;;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 150px;
  height: 200px;
}

#canvas-container {
  z-index: -1;
  position: fixed;
  background-color: rgb(54, 139, 179);
  left: 0%;
  top: 52px;
  width: 100%;
  height: 100%;
}